@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* manrope-font {
  font-family: "Manrope", sans-serif;
}

@keyframes bounce{
    from { transform: translate3d(0, 0, 0);}
    to { transform: translate3d(0, 200px, 0);}
}

.bounce-animation {
    animation: bounce 3s 0 infinite;
}